.fdiv {
    height:140px;
    width:  40%;
    border-radius: 20px;
    border: 2px solid black;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: blue;
}
h1 {
    text-align: center;
    color: white;
}

button {
    height: 30px;
    margin: 25px 0px;
    border-radius: 10px;
    width: 60px;
}
.col {
    color: black;
}